# Use the following in your home dir's .gitconfig file to source from this one
#
# [include]
#   path = ~/.config/git/.gitconfig

[user]
  name = Andres Osorio
  email = andres.osoriogr@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  lg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[init]
  defaultBranch = main
