dconf/
evolution/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
ibus/
mimeapps.list
pop-shell/
pulse/
user-dirs.dirs
user-dirs.locale
configstore/
monitors.xml
monitors.xml~
enchant/
gedit/

nvim/autoload/
coc/
zsh/plugins/
