dconf/
evolution/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
ibus/
mimeapps.list
pop-shell/
pulse/
user-dirs.dirs
user-dirs.locale
configstore/
monitors.xml
monitors.xml~
enchant/
gedit/
Code/
libreoffice/
nautilus/
oni2/
openrazer/
pop-system-updater/
solaar/
.gsd-keyboard.settings-ported
dleyna-server-service.conf
kazam/
mozc/
totem/
touchegg/
eog/
menus/
yelp/
autostart/
vlc/
ibus-mozc-gnome-initial-setup-done
Ledger Live/
nordvpn/
qalculate/
nvim/autoload/
coc/
zsh/plugins/
